@model IEnumerable<Web1.Models.Kategori>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<h4>@TempData["mesaj"]</h4>
<p>
    <a asp-action="Ekle">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.KategoriAdi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Renk)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EklenmeTarihi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr style="background-color: @item.Renk">
                <td>
                    @Html.DisplayFor(modelItem => item.KategoriAdi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Renk)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EklenmeTarihi)
                </td>
                <td>
                    <a asp-action="Duzenle" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Detay" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Sil" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
